In [33]:
import pandas as pd
%store -r df

In [34]:
print(df.shape)
df_tmp = df.copy()

(1781974, 19)

In [31]:
df_tmp = df_tmp[df_tmp['session_id'].duplicated()]
print(df_tmp.shape)
#df_tmp = df_tmp[df_tmp['target_event']==0]
#df_tmp.shape
df_tmp[['session_id', 'target_event']].head(20)

(49708, 19)

                                    session_id  target_event
70   9055768928391199041.1623652678.1623652678             1
75   9055789093275396095.1636395007.1636395007             1
79   9055794766915104430.1624305327.1624305327             1
131  9056028189803556573.1630154471.1630154471             1
140  9056093322981390023.1628944098.1628944098             1
146  9056100040321437002.1640140105.1640140105             1
156  9056158125457201967.1638193974.1638193974             1
252  9056607924483613657.1624597468.1624597468             1
271  9056682094274849216.1625598516.1625598516             1
287  9056738860855987966.1623985736.1623985736             1
289  9056738860855987966.1624004393.1624004393             1
310  9056841918600823954.1628554390.1628554390             1
314  9056845320208664215.1622296993.1622296993             1
408  9057296532308149869.1637533303.1637533303             1
428  9057370474456530342.1628945832.1628945832             1
436  9057405255112834392.1640086874.1640086874             1
453  9057490553159771564.1636525485.1636525485             1
461  9057508179703181153.1634152292.1634152292             1
488  9057620093667786277.1635925543.1635925543             1
508  9057690488171061142.1625218970.1625218970             0

In [32]:
df[df['session_id']=='9057690488171061142.1625218970.1625218970'][['session_id', 'target_event']]

                                    session_id  target_event
507  9057690488171061142.1625218970.1625218970             1
508  9057690488171061142.1625218970.1625218970             0